
.page4-title {
    font-size: xx-large;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.feature-container {
    width: 80%;
    border-radius: 20px;
} 




