.page3 {
    padding: 10px 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
.solution-title {
    font-size: xx-large;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.flex-1 img{
    border-radius: 20px;
}
