.scroll-container {
    position: relative;
    z-index: 1; /* Ensure it's above the background image */
}

.scroll-box {
    height: 10px;
    width: 100%;
    background-color: #000000; /* Set background color to black */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of content */
}

/* Customize scrollbar */
.scroll-box::-webkit-scrollbar {
    height: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #8b8bff;
    border-radius: 5px;
}
